@model IEnumerable<SachOnline.Models.MENU>
<ul style="list-style:none;margin-left:20px;">
    @{
        int j = 0;
        foreach (var item in Model)
        {
            <li style="border:1px solid #808080;height:37px">
                    <input type="radio" name="ParentID" value="@item.Id" id="topic_@item.Id" />
                    <label for="topic_@item.Id">@item.MenuName</label>
            </li>
            if (ViewBag.lst[j] != 0)
            {
                @Html.Action("ChildMenu1", "Menu", new { parentId = item.Id })
            }
            j++;
        }
    }
</ul>