<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">SÁCH THEO NHÀ XUẤT BẢN</li>
    <a href="#" class="list-group-item">Nhà xuất bản Trẻ</a>
    <a href="#" class="list-group-item">NXB Thống kê</a>
    <a href="#" class="list-group-item">Kim đồng</a>
    <a href="#" class="list-group-item">Đại học quốc gia</a>
    <a href="#" class="list-group-item">Văn hoá nghệ thuật</a>
    <a href="#" class="list-group-item">Văn hoá</a>
    <a href="#" class="list-group-item">Lao động - Xã hội</a>
    <a href="#" class="list-group-item">Khoa học &Aacute; Kỹ thuật</a>
    <a href="#" class="list-group-item">Nghệ thuật sống</a>
</ul>