<h2 class="text-center">SÁCH BÁN NHIỀU</h2>
<hr />
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/TH004.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 1</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/TH005.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 2</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/TH006.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 3</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/TH007.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 4</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/TH008.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 5</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object imgsachbannhieu" src="~/Images/THCB.jpg" alt="placeholder image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 6</h4>
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản
                    phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- row-->
<hr>
