<a href="@Url.Action("Index", "GioHang")" style="color:white;font-weight:bold;text-decoration:none;">
    <span class="glyphicon glyphicon-shopping-cart"></span> 
    Giỏ hàng (@ViewBag.TongSoLuong)
</a>
