@model IEnumerable<SachOnline.Models.SLIDE>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="carousel1" class="carousel slide">
                <div class="carousel-inner">
                    @{
                        ViewBag.cnt = 0;
                        foreach (var item in Model)
                        {
                            if (ViewBag.cnt > 0)
                            {
                                <div class="item">
                                    <img class="img-responsive" src="@item.Anh" alt="thumb">
                                    <div class="carousel-caption">@item.TieuDe</div>
                                </div>
                            }
                            else
                            {
                                <div class="item active">
                                    <img class="img-responsive" src="@item.Anh" alt="thumb">
                                    <div class="carousel-caption">@item.TieuDe</div>
                                </div>
                            }
                            ViewBag.cnt++;
                        }
                    }
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                    @for (int i = 1; i < ViewBag.cnt; i++)
                    {
                        <li data-target="#carousel1" data-slide-to="i" class=""> </li>
                    }
                </ol>
                <a class="left carousel-control" href="#carousel1" data-slide="prev">
                    <span class="icon-prev"></span>
                </a> <a class="right carousel-control" href="#carousel1" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>
