
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section customStyles {
    <style>
        h2 {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
}

<h2>QUẢN TRỊ SACHONLINE</h2>
