
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section customStyles {
    <style>
        .item-img {
            max-width: 100px;
        }

        .item-desc {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
        }
    </style>
}

@section customScripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('txtMoTa');

        $(document).ready(function () {
            loadDsSach();
        });

        function loadDsSach() {
            $.ajax({
                url: '/Admin/Sach/DsSach',
                type: 'get',
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        $('#tblDsSach').empty();
                        $.each(data.dsSach, function (k, v) {
                            let s = '<tr id="' + v.MaSach + '">';
                            s += '<td>' + v.TenSach + '</td>';
                            s += '<td><span class="item-desc">' + v.MoTa + '</span></td>';
                            s += '<td><img src="/Images/' + v.Anh + '" class="img-rounded item-img" /></td>';
                            s += '<td>' + v.SoLuong + '</td>';
                            s += '<td>' + v.GiaBan + '</td>';
                            s += '<td>' + v.TenCD + '</td>';
                            s += '<td>' + v.TenNXB + '</td>';
                            s += '<td class="col-ms-3 text-right">';
                            s += '<button class="btn btn-sm btn-info" name="view"><i class="fa fa-info-circle" aria-hidden="true"></i></button>&nbsp';
                            s += '<button class="btn btn-sm btn-warning" name="update"><i class="fa fa-pen-square" aria-hidden="true"></i></button>&nbsp';
                            s += '<button class="btn btn-sm btn-danger" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button';
                            s += '</td>';
                            s += '</tr>';
                            $('#tblDsSach').append(s);
                        })
                    }
                }
            });
        }

        $(document).on('click', 'button[name="view"]', function () {
            let idSach = $(this).closest('tr').attr('id');
            $.ajax({
                url: '/Admin/Sach/Details',
                type: 'get',
                data: {
                    maSach: idSach
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#txtTenSach').val(data.sach.TenSach);
                        $('#txtTenSach').prop('readonly', true);
                        $('#txtMoTa').val(data.sach.MoTa);
                        $('#txtMoTa').prop('readonly', true);
                        $('#txtSoLuong').val(data.sach.SoLuong);
                        $('#txtSoLuong').prop('readonly', true);
                        $('#txtGiaBan').val(data.sach.GiaBan);
                        $('#txtGiaBan').prop('readonly', true);
                        $('#txtTenCD').val(data.sach.TenCD);
                        $('#txtTenCD').prop('readonly', true);
                        $('#txtTenNXB').val(data.sach.TenNXB);
                        $('#txtTenNXB').prop('readonly', true);

                        $('#btnSubmit').hide();
                        $('#modalTitle').text('Xem chi tiết sách');
                        $('#modalSach').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

        $('#btnAdd').click(function () {
            $('#modalTitle').text('Thêm mới sách');
            $('#maSach').val('');
            $('#txtTenSach').val('');
            $('#txtTenSach').prop('readonly', false);
            $('#btnSubmit').show();
            $('#modalSach').modal();
        })

        $(document).on('click', 'button[name="update"]', function () {
            let idSach = $(this).closest('tr').attr('id');
            $.ajax({
                url: '/Admin/Sach/Details',
                type: 'get',
                data: {
                    maSach: idSach
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#txtTenSach').val(data.sach.TenSach);
                        $('#txtTenSach').prop('readonly', false);
                        $('#txtMoTa').val(data.sach.MoTa);
                        $('#txtMoTa').prop('readonly', false);
                        $('#txtSoLuong').val(data.sach.SoLuong);
                        $('#txtSoLuong').prop('readonly', false);
                        $('#txtGiaBan').val(data.sach.GiaBan);
                        $('#txtGiaBan').prop('readonly', false);
                        $('#txtTenCD').val(data.sach.TenCD);
                        $('#txtTenCD').prop('readonly', false);
                        $('#txtTenNXB').val(data.sach.TenNXB);
                        $('#txtTenNXB').prop('readonly', false);

                        $('#btnSubmit').show();
                        $('#modalTitle').text('Cập nhật sách');
                        $('#maSach').val(idSach)
                        $('#modalSach').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

        $(document).on('click', 'button[name="delete"]', function () {
            let idSach = $(this).closest('tr').attr('id');
            if (confirm('Xác nhận xoá sách này')) {
                $.ajax({
                    url: '/Admin/Sach/Delete',
                    type: 'post',
                    data: {
                        maSach: idSach
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            loadDsSach();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });

        $('#btnSubmit').click(function () {
            let strTenSach = $('#txtTenSach').val().trim();
            if (strTenSach.length == 0) {
                alert('Vui lòng nhập tên sách');
                return;
            }
            let maSach = $('#maSach').val().trim();
            if (maSach == 0) {
                $.ajax({
                    url: '/Admin/Sach/Create',
                    type: 'post',
                    data: {
                        strTenCD: strTenSach
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            $('#modalSach').modal('hide');
                            loadDsSach();
                            $('#txtTenSach').val('');
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '/Admin/Sach/Edit',
                    type: 'post',
                    data: {
                        maSach: maSach,
                        tenSach: tenSach,
                        moTa: moTa
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            $('#modalSach').modal('hide');
                            loadDsSach();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });
    </script>
}

<p>
    <button class="btn btn-success" id="btnAdd">
        <i class="fa fa-plus" aria-hidden="true"></i> Thêm sách
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tên sách</th>
            <th>Mô tả</th>
            <th>Ảnh</th>
            <th>Số lượng</th>
            <th>Giá bán</th>
            <th>Tên chủ đề</th>
            <th>Tên nhà xuất bản</th>
            <th class="col-sm-2 text-right">Các chức năng</th>
        </tr>
    </thead>
    <tbody id="tblDsSach"></tbody>
</table>

<div class="modal fade" id="modalSach" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading" id="modalTitle"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" id="maSach" value="" hidden />
                        <label>Tên sách</label>
                        <input type="text" class="form-control" id="txtTenSach" placeholder="Tên sách" />
                        <label>Mô tả</label>
                        <textarea class="form-control" id="txtMoTa"></textarea>
                        <label>Số lượng</label>
                        <input type="number" class="form-control" id="txtSoLuong" />
                        <label>Giá bán</label>
                        <input type="number" class="form-control" id="txtGiaBan" />
                        <label>Tên chủ đề</label>
                        <input type="text" class="form-control" id="txtTenCD" placeholder="Tên chủ đề" />
                        <label>Tên nhà xuất bản</label>
                        <input type="text" class="form-control" id="txtTenNXB" placeholder="Tên nhà xuất bản" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary pull-right" id="btnSubmit">Lưu</button>
            </div>
        </div>
    </div>
</div>
